In [10]:
# Import Data
import pandas as pd
df = pd.read_csv(r'C:\Users\milli\OneDrive\Documents\TelcoCustomerChurn\TelcoChurn_data_raw_8.25.25.csv')
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [12]:
# Handle missing values
print(df.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [16]:
# There are no missing values in this dataset.

In [18]:
# Consider data type
print(df.dtypes)

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [28]:
# CustomerID can remain an object as it has numbers and letters.

In [30]:
# Gender can remain an object as it is a string. Check for consistent spelling and capitalization: 
print(df['gender'].value_counts())
# Good, only 2 observations: Male and Female

gender
Male      3555
Female    3488
Name: count, dtype: int64

In [34]:
# SeniorCitizen can remain an integer as it records two options: 0/1
print(df['SeniorCitizen'].value_counts())
# Good, only 2 options recorded: 0/1

SeniorCitizen
0    5901
1    1142
Name: count, dtype: int64

In [36]:
# Partner can be changed to 0/1 for yes/no to keep consistent with other yes/no variables. First check that only yes/no is recorded.
print(df['Partner'].value_counts())

Partner
No     3641
Yes    3402
Name: count, dtype: int64

In [38]:
# Change Partner from yes/no to 1/0
df['Partner'] = df['Partner'].map({'Yes': 1, 'No': 0})
print(df['Partner'].value_counts())

Partner
0    3641
1    3402
Name: count, dtype: int64

In [67]:
# Same process for Dependents.
# Note: accidentally rewrote the values for Dependents, so this data needed to be reloaded. 
dependents = pd.read_csv(r'C:\Users\milli\OneDrive\Documents\TelcoCustomerChurn\TelcoChurn_data_raw_8.25.25.csv', usecols=['Dependents'])
df['Dependents'] = dependents

In [69]:
print(df['Dependents'].value_counts())

Dependents
No     4933
Yes    2110
Name: count, dtype: int64

In [71]:
df['Dependents'] = df['Dependents'].map({'Yes': 1, 'No': 0})
print(df['Dependents'].value_counts())

Dependents
0    4933
1    2110
Name: count, dtype: int64

In [73]:
print(df.dtypes)

customerID           object
gender               object
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
# Partner and Dependents automatically change to int64

In [75]:
# Tenure records the number of months the customer spends with the company. 
# This can remain an integer type

In [77]:
# Check PhoneService 
print(df['PhoneService'].value_counts())

PhoneService
Yes    6361
No      682
Name: count, dtype: int64

In [79]:
# Change to 0/1
df['PhoneService'] = df['PhoneService'].map({'Yes': 1, 'No': 0})
print(df['PhoneService'].value_counts())

PhoneService
1    6361
0     682
Name: count, dtype: int64

In [81]:
# Check MultipleLines
print(df['MultipleLines'].value_counts())

MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64

In [83]:
# This one can stay an object/string at least for now.

In [85]:
# Check InternetService
print(df['InternetService'].value_counts())

InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

In [87]:
# This will stay an object for now.

In [89]:
# Check OnlineSecurity
print(df['OnlineSecurity'].value_counts())

OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64

In [91]:
# This will stay an object for now.

In [93]:
# Check OnlineBackup
print(df['OnlineBackup'].value_counts())

OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64

In [95]:
# Stay an object for now.

In [99]:
# Check DeviceProtection
print(df['DeviceProtection'].value_counts())

DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64

In [101]:
# Stay an object for now.

In [103]:
# Check TechSupport
print(df['TechSupport'].value_counts())

TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64

In [105]:
# Stay an object for now.

In [107]:
# Check StreamingTV
print(df['StreamingTV'].value_counts())
# Check StreamingMovies
print(df['StreamingMovies'].value_counts())

StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64
StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64

In [109]:
# Both stay objects for now.

In [111]:
# Check Contract
print(df['Contract'].value_counts())

Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64

In [113]:
# Stays an object.

In [115]:
# Check PaperlessBilling
print(df['PaperlessBilling'].value_counts())

PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64

In [117]:
# Change to 0/1
df['PaperlessBilling'] = df['PaperlessBilling'].map({'Yes': 1, 'No': 0})
print(df['PaperlessBilling'].value_counts())

PaperlessBilling
1    4171
0    2872
Name: count, dtype: int64

In [119]:
# Check PaymentMethod
print(df['PaymentMethod'].value_counts())

PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

In [121]:
# Stays an Object.

In [131]:
# MonthlyCharges will stay a float as it contains decimals.
# TotalCharges is also a decimal, but it is registered as an object.
df['TotalCharges'] = df['TotalCharges'].str.strip().replace('', '0').astype(float)

AttributeError: Can only use .str accessor with string values!

In [133]:
# Check Churn
print(df['Churn'].value_counts())

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [135]:
# Change to 0/1
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})
print(df['Churn'].value_counts())

Churn
0    5174
1    1869
Name: count, dtype: int64

In [137]:
print(df.dtypes)

customerID           object
gender               object
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [139]:
# Check and make sure that TotalCharges didn't get messed up.
print((df['TotalCharges'] == 0).sum())

11

In [143]:
print(df[df['TotalCharges'] == 0].head(20))

      customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
488   4472-LVYGI  Female              0        1           1       0
753   3115-CZMZD    Male              0        0           1       0
936   5709-LVOEQ  Female              0        1           1       0
1082  4367-NUYAO    Male              0        1           1       0
1340  1371-DWPAZ  Female              0        1           1       0
3331  7644-OMVMY    Male              0        1           1       0
3826  3213-VVOLG    Male              0        1           1       0
4380  2520-SGTTA  Female              0        1           1       0
5218  2923-ARZLG    Male              0        1           1       0
6670  4075-WKNIU  Female              0        1           1       0
6754  2775-SEFEE    Male              0        0           1       0

      PhoneService     MultipleLines InternetService       OnlineSecurity  \
488              0  No phone service             DSL                  Yes
753              1                No              No  No internet service
936              1                No             DSL                  Yes
1082             1               Yes              No  No internet service
1340             0  No phone service             DSL                  Yes
3331             1                No              No  No internet service
3826             1               Yes              No  No internet service
4380             1                No              No  No internet service
5218             1                No              No  No internet service
6670             1               Yes             DSL                   No
6754             1               Yes             DSL                  Yes

      ...     DeviceProtection          TechSupport          StreamingTV  \
488   ...                  Yes                  Yes                  Yes
753   ...  No internet service  No internet service  No internet service
936   ...                  Yes                   No                  Yes
1082  ...  No internet service  No internet service  No internet service
1340  ...                  Yes                  Yes                  Yes
3331  ...  No internet service  No internet service  No internet service
3826  ...  No internet service  No internet service  No internet service
4380  ...  No internet service  No internet service  No internet service
5218  ...  No internet service  No internet service  No internet service
6670  ...                  Yes                  Yes                  Yes
6754  ...                   No                  Yes                   No

          StreamingMovies  Contract PaperlessBilling  \
488                    No  Two year                1
753   No internet service  Two year                0
936                   Yes  Two year                0
1082  No internet service  Two year                0
1340                   No  Two year                0
3331  No internet service  Two year                0
3826  No internet service  Two year                0
4380  No internet service  Two year                0
5218  No internet service  One year                1
6670                   No  Two year                0
6754                   No  Two year                1

                  PaymentMethod MonthlyCharges  TotalCharges  Churn
488   Bank transfer (automatic)          52.55           0.0      0
753                Mailed check          20.25           0.0      0
936                Mailed check          80.85           0.0      0
1082               Mailed check          25.75           0.0      0
1340    Credit card (automatic)          56.05           0.0      0
3331               Mailed check          19.85           0.0      0
3826               Mailed check          25.35           0.0      0
4380               Mailed check          20.00           0.0      0
5218               Mailed check          19.70           0.0      0
6670               Mailed check          73.35           0.0      0
6754  Bank transfer (automatic)          61.90           0.0      0

[11 rows x 21 columns]

In [145]:
# It looks like these are the customers who have not completed a full month. 
# Their tenure shows how many months they have been with the company(0) but churn suggests they have not left. 
# The TotalCharges is the total amount over tenure.
# These 11 values should be changes from zero to the value in MonthlyCharges column.

In [147]:
# Just to make sure, lets check the customers who have completed one month:
print(df[df['tenure'] == 1].head(20))

     customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0    7590-VHVEG  Female              0        1           0       1
20   8779-QRDMV    Male              1        0           0       1
22   1066-JKSGK    Male              0        0           0       1
27   8665-UTDHZ    Male              0        1           1       1
33   7310-EGVHZ    Male              0        0           0       1
34   3413-BMNZE    Male              1        0           0       1
70   2273-QCKXA    Male              0        0           0       1
80   5919-TMRGD  Female              0        0           1       1
91   2424-WVHPL    Male              1        0           0       1
100  6380-ARCEH    Male              0        0           0       1
101  3679-XASPY  Female              0        1           1       1
128  3930-ZGWVE    Male              0        0           0       1
133  3091-FYHKI    Male              0        0           0       1
139  0390-DCFDQ  Female              1        1           0       1
147  2135-RXIHG    Male              0        0           0       1
180  6317-YPKDH  Female              0        0           0       1
181  6582-OIVSP  Female              0        0           0       1
185  1024-GUALD  Female              0        1           0       1
199  3645-DEYGF    Male              0        0           1       1
207  1285-OKIPP    Male              0        0           0       1

     PhoneService     MultipleLines InternetService       OnlineSecurity  ...  \
0               0  No phone service             DSL                   No  ...
20              0  No phone service             DSL                   No  ...
22              1                No              No  No internet service  ...
27              0  No phone service             DSL                   No  ...
33              1                No              No  No internet service  ...
34              1                No             DSL                   No  ...
70              1                No             DSL                   No  ...
80              1                No     Fiber optic                   No  ...
91              1                No     Fiber optic                   No  ...
100             1                No              No  No internet service  ...
101             1                No              No  No internet service  ...
128             1                No              No  No internet service  ...
133             0  No phone service             DSL                   No  ...
139             1                No     Fiber optic                   No  ...
147             1                No             DSL                   No  ...
180             0  No phone service             DSL                   No  ...
181             1                No             DSL                   No  ...
185             0  No phone service             DSL                   No  ...
199             1                No              No  No internet service  ...
207             1                No     Fiber optic                   No  ...

        DeviceProtection          TechSupport          StreamingTV  \
0                     No                   No                   No
20                   Yes                   No                   No
22   No internet service  No internet service  No internet service
27                    No                   No                   No
33   No internet service  No internet service  No internet service
34                    No                   No                   No
70                    No                  Yes                   No
80                    No                   No                  Yes
91                    No                  Yes                   No
100  No internet service  No internet service  No internet service
101  No internet service  No internet service  No internet service
128  No internet service  No internet service  No internet service
133                   No                   No                   No
139                   No                   No                   No
147                   No                   No                   No
180                   No                   No                   No
181                   No                   No                   No
185                   No                   No                   No
199  No internet service  No internet service  No internet service
207                   No                   No                   No

         StreamingMovies        Contract PaperlessBilling  \
0                     No  Month-to-month                1
20                   Yes  Month-to-month                1
22   No internet service  Month-to-month                0
27                    No  Month-to-month                0
33   No internet service  Month-to-month                0
34                    No  Month-to-month                0
70                    No  Month-to-month                0
80                    No  Month-to-month                1
91                    No  Month-to-month                0
100  No internet service  Month-to-month                0
101  No internet service  Month-to-month                0
128  No internet service  Month-to-month                0
133                  Yes  Month-to-month                1
139                   No  Month-to-month                1
147                   No  Month-to-month                1
180                   No  Month-to-month                0
181                   No  Month-to-month                0
185                   No  Month-to-month                1
199  No internet service  Month-to-month                0
207                  Yes  Month-to-month                0

                 PaymentMethod MonthlyCharges  TotalCharges  Churn
0             Electronic check          29.85         29.85      0
20            Electronic check          39.65         39.65      1
22                Mailed check          20.15         20.15      1
27            Electronic check          30.20         30.20      1
33   Bank transfer (automatic)          20.20         20.20      0
34   Bank transfer (automatic)          45.25         45.25      0
70                Mailed check          49.05         49.05      0
80            Electronic check          79.35         79.35      1
91            Electronic check          74.70         74.70      0
100               Mailed check          20.20         20.20      0
101           Electronic check          19.45         19.45      0
128               Mailed check          19.75         19.75      0
133           Electronic check          35.45         35.45      1
139               Mailed check          70.45         70.45      1
147           Electronic check          45.65         45.65      1
180  Bank transfer (automatic)          29.95         29.95      1
181               Mailed check          45.30         45.30      0
185           Electronic check          24.80         24.80      1
199               Mailed check          20.75         20.75      0
207           Electronic check          79.90         79.90      1

[20 rows x 21 columns]

In [149]:
# Change zeros to match MonthlyCharges
df.loc[df['TotalCharges'] == 0, 'TotalCharges'] = df['MonthlyCharges']
print(df[df['tenure'] == 0][['MonthlyCharges', 'TotalCharges']])

      MonthlyCharges  TotalCharges
488            52.55         52.55
753            20.25         20.25
936            80.85         80.85
1082           25.75         25.75
1340           56.05         56.05
3331           19.85         19.85
3826           25.35         25.35
4380           20.00         20.00
5218           19.70         19.70
6670           73.35         73.35
6754           61.90         61.90

In [153]:
# Next, MultipleLines will stay the same because the options are yes, no, and no PHONE service.
# Six of the columns have yes, no, and no INTERNET service. So, these will be changes to 1,0,2 respectively. 
# These variables are OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, and StreamingMovies.


df['OnlineBackup'] = df['OnlineBackup'].map({'Yes': 1, 'No': 0, 'No internet service':2})
df['DeviceProtection'] = df['DeviceProtection'].map({'Yes': 1, 'No': 0, 'No internet service':2})
df['TechSupport'] = df['TechSupport'].map({'Yes': 1, 'No': 0, 'No internet service':2})
df['StreamingTV'] = df['StreamingTV'].map({'Yes': 1, 'No': 0, 'No internet service':2})
df['StreamingMovies'] = df['StreamingMovies'].map({'Yes': 1, 'No': 0, 'No internet service':2})


print(df['OnlineBackup'].value_counts())
print(df['DeviceProtection'].value_counts())
print(df['TechSupport'].value_counts())
print(df['StreamingTV'].value_counts())
print(df['StreamingMovies'].value_counts())

Series([], Name: count, dtype: int64)
OnlineBackup
0    3088
1    2429
2    1526
Name: count, dtype: int64
DeviceProtection
0    3095
1    2422
2    1526
Name: count, dtype: int64
TechSupport
0    3473
1    2044
2    1526
Name: count, dtype: int64
StreamingTV
0    2810
1    2707
2    1526
Name: count, dtype: int64
StreamingMovies
0    2785
1    2732
2    1526
Name: count, dtype: int64

In [155]:
#Reload
OnlineSecurity = pd.read_csv(r'C:\Users\milli\OneDrive\Documents\TelcoCustomerChurn\TelcoChurn_data_raw_8.25.25.csv', usecols=['OnlineSecurity'])
df['OnlineSecurity'] = OnlineSecurity
df['OnlineSecurity'] = df['OnlineSecurity'].map({'Yes': 1, 'No': 0, 'No internet service':2})
print(df['OnlineSecurity'].value_counts())

OnlineSecurity
0    3498
1    2019
2    1526
Name: count, dtype: int64

In [157]:
print(df.dtypes)

customerID           object
gender               object
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines        object
InternetService      object
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [159]:
# Looking Good!

In [161]:
# Next, create some new variables.
# First, create AvgMonthlyRevenue to determine if high spenders churn differently. It will show on average how much customers pay per month of tenure.
df['AvgMonthlyRevenue'] = df['TotalCharges'].astype(float) / df['tenure'].replace(0, 1)
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,AvgMonthlyRevenue
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,0,...,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0,29.850000
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,1,...,0,0,0,One year,0,Mailed check,56.95,1889.50,0,55.573529
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,1,...,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1,54.075000

In [163]:
# Create tenure buckets 
df['TenureGroup'] = pd.cut(
    df['tenure'],
    bins=[0, 12, 24, 48, 72],
    labels=['0â€“1yr', '1â€“2yr', '2â€“4yr', '4â€“6yr'])
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,AvgMonthlyRevenue,TenureGroup
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,0,...,0,0,Month-to-month,1,Electronic check,29.85,29.85,0,29.850000,0â€“1yr
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,1,...,0,0,One year,0,Mailed check,56.95,1889.50,0,55.573529,2â€“4yr
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,1,...,0,0,Month-to-month,1,Mailed check,53.85,108.15,1,54.075000,0â€“1yr

In [169]:
# Determine how many optional services a customer has subscribed to
services = ['PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
            'DeviceProtection','TechSupport','StreamingTV','StreamingMovies']
df['NumServices'] = (df[services] == 'Yes').sum(axis=1)
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,AvgMonthlyRevenue,TenureGroup,NumServices
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,0,...,0,Month-to-month,1,Electronic check,29.85,29.85,0,29.850000,0â€“1yr,0
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,1,...,0,One year,0,Mailed check,56.95,1889.50,0,55.573529,2â€“4yr,0
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,1,...,0,Month-to-month,1,Mailed check,53.85,108.15,1,54.075000,0â€“1yr,0

In [175]:
# Autopay
df['IsAutoPay'] = df['PaymentMethod'].str.contains('automatic', case=False).astype(int)
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,AvgMonthlyRevenue,TenureGroup,NumServices,IsAutoPay
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,0,...,Month-to-month,1,Electronic check,29.85,29.85,0,29.850000,0â€“1yr,0,0
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,1,...,One year,0,Mailed check,56.95,1889.50,0,55.573529,2â€“4yr,0,0
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,1,...,Month-to-month,1,Mailed check,53.85,108.15,1,54.075000,0â€“1yr,0,0

In [177]:
# Churn Risk Proxy 
# Combine short tenure + month-to-month contract + high monthly charges: High scores = High Churn Risk
df['RiskScore'] = (
    (df['tenure'] < 12).astype(int) +
    (df['Contract'] == 'Month-to-month').astype(int) +
    (df['MonthlyCharges'] > df['MonthlyCharges'].median()).astype(int)
)
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,AvgMonthlyRevenue,TenureGroup,NumServices,IsAutoPay,RiskScore
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,0,...,1,Electronic check,29.85,29.85,0,29.850000,0â€“1yr,0,0,2
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,1,...,0,Mailed check,56.95,1889.50,0,55.573529,2â€“4yr,0,0,0
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,1,...,1,Mailed check,53.85,108.15,1,54.075000,0â€“1yr,0,0,2

In [179]:
# Senior Citizen with high tech use
df['SeniorHighTech'] = ((df['SeniorCitizen'] == 1) & (df['NumServices'] > 3)).astype(int)
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,PaymentMethod,MonthlyCharges,TotalCharges,Churn,AvgMonthlyRevenue,TenureGroup,NumServices,IsAutoPay,RiskScore,SeniorHighTech
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,0,...,Electronic check,29.85,29.85,0,29.850000,0â€“1yr,0,0,2,0
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,1,...,Mailed check,56.95,1889.50,0,55.573529,2â€“4yr,0,0,0,0
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,1,...,Mailed check,53.85,108.15,1,54.075000,0â€“1yr,0,0,2,0